<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Services – Osterisk: VOIP & Cloud Services WordPress Theme</title>
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/mediaelementplayer.css">
  <link rel="stylesheet" href="css/slick.min.css">
  <link rel="stylesheet" href="css/slick-theme.min.css">
  <link rel="stylesheet" href="css/animate-custom.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/fontawesome.min.css">
  <link
    href="https://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,600,700,800,900|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
</head>
<body>
<header class="l-header creative-layout" data-sticky-container="">
  <div class="top-bar-container sticky slideUp" style="top: 0px;">
    <div class="site-title-bar" data-responsive-toggle="mobile-menu" data-hide-for="large">
      <div class="title-bar-left">
        <button aria-label="Main Menu" class="menu-icon" type="button" data-toggle="mobile-menu"></button>
        <span class="site-mobile-title title-bar-title logo"> <a
          href="index.html" rel="home"
          title="Osterisk: VOIP &amp; Cloud Services WordPress Theme" class="active"><img
          src="images/logo.png"
          alt="logo"></a> </span></div>
    </div>
    <nav class="site-navigation top-bar " role="navigation">
      <div class="top-bar-left">
        <div class="site-desktop-title top-bar-title">
          <div class="logo-wrapper " data-dropdown-menu="">
            <div class="menu-text"><a href="index.html"
                                      rel="home" title="Osterisk: VOIP &amp; Cloud Services WordPress Theme"
                                      class="active"><img
              src="images/logo.png"
              alt="logo"></a></div>
          </div>
        </div>
      </div>
      <div class="top-bar-right" style="color: #fff;">
        <ul id="menu-primary-menu" class="desktop-menu menu">
          <li
            class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1124 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children active is-dropdown-submenu-parent opens-right not-click has-dropdown not-click color-2 menu-item-home">
            <a href="index.html">Home</a>
            <ul class="submenu is-dropdown-submenu ">
              <li
                class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1124 current_page_item active color-2 menu-item-home">
                <a href="index.html">Home – Cloud
                  Communication</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-2 "><a
                href="home2.html">Home
                – Cloud Hosting</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-2 "><a
                href="home3.html">Home –
                Tech Company</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-2 "><a
                href="home4.html">Home –
                Business</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-2 "><a
                href="home5.html">Home
                – SAAS App Landing</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-2 "><a
                href="home6.html">Home
                – Digital Agency</a></li>
            </ul>
          </li>
          <li
            class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children is-dropdown-submenu-parent opens-right not-click has-dropdown not-click color-3 menu-item-has-children">
            <a href="#">Pages</a>
            <ul class="submenu is-dropdown-submenu ">
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-3 "><a
                href="about.html">About Us</a>
              </li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-3 "><a
                href="pricing.html">Pricing</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-3 "><a
                href="team.html">Team</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-3 "><a
                href="Services.html">Services</a>
              </li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-3 "><a
                href="about.html">About</a></li>
              <li class=" menu-item menu-item-type-custom menu-item-object-custom color-3 "><a
                href="#">Page
                404</a></li>
            </ul>
          </li>
          <li
            class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children is-dropdown-submenu-parent opens-right not-click has-dropdown not-click color-4 menu-item-has-children">
            <a href="#">Services</a>
            <ul class="submenu is-dropdown-submenu ">
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-4 "><a
                href="deliveries.html">Deliveries
                &amp; Collection</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-4 "><a
                href="word-wide-customers.html">Word
                Wide Customers</a></li>
              <li
                class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children is-dropdown-submenu-parent opens-right not-click has-dropdown not-click color-4 menu-item-has-children">
                <a href="awesome-team.html">Awesome
                  Team</a>
                <ul class="submenu is-dropdown-submenu ">
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-4 "><a
                    href="24-7-support.html">24/7
                    Support</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-4 "><a
                    href="outbound-calls.html">Outbound
                    Calls</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-4 "><a
                    href="inbound-calls.html">Inbound
                    Calls</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li
            class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children is-dropdown-submenu-parent opens-right not-click has-dropdown not-click color-5 menu-item-has-children">
            <a href="#">Shop</a>
            <ul class="submenu is-dropdown-submenu ">
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-5 "><a
                href="shop.html">Shop I</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-5 "><a
                href="shop2.html">Shop II</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-product color-5 "><a
                href="singleProduct.html">Single
                Product</a></li>
            </ul>
          </li>
          <li
            class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children is-dropdown-submenu-parent opens-right not-click has-dropdown not-click color-6 menu-item-has-children">
            <a href="#">Blog</a>
            <ul class="submenu is-dropdown-submenu ">
              <li><a
                href="blog.html">Blog Classic</a>
              </li>
              <li><a
                href="blog-grid.html">Blog grid</a>
              </li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-post color-6 "><a
                href="singlePost.html">Single
                Post</a></li>
            </ul>
          </li>
          <li
            class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children is-dropdown-submenu-parent opens-right not-click has-dropdown not-click mega-menu color-7 menu-item-has-children">
            <a href="#">Elements</a>
            <ul class="submenu is-dropdown-submenu ">
              <li class=" mega-menu-column">
                <ul>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="accordions.html">Accordions</a>
                  </li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="tabs.html">Tabs</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="button.html">Button</a>
                  </li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="headings.html">Headings</a>
                  </li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "></li>
                </ul>
              </li>
              <li class=" mega-menu-column">
                <ul>
                  <li><a href="forms-input.html">Forms
                    &amp; Input</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="text-with-icon.html">Text
                    with Icon</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="count-up.html">Count
                    up</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="team-2.html">Team</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "></li>
                </ul>
              </li>
              <li class=" mega-menu-column">
                <ul>
                  <li><a href="testimonail.html">Testimonail</a>
                  </li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="progress-bar.html">Progress
                    Bar</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="clients.html">Clients</a>
                  </li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="blog-shortcode.html">blog
                    styles</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "></li>
                </ul>
              </li>
              <li class=" mega-menu-column">
                <ul>
                  <li><a
                    href="portfolio-standard.html">Portfolio
                    Standard</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="portfolio-gallery.html">Portfolio
                    Gallery</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="portfolio-masonry-style.html">Portfolio
                    Masonry</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="portfolio-isotope.html">Portfolio
                    Isotope</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class=" menu-item menu-item-type-post_type menu-item-object-page color-8 "><a
            href="contact-us.html">Contact us</a>
          </li>
        </ul>
        <div class="header-cta show-for-large-up large-screen"><a
          href="contact-us.html"
          class="wd-btn btn-solid btn-color-2 hover-color-1 btn-small btn-round icon-after"> Request Quote </a></div>
        <nav class="mobile-menu vertical menu" id="mobile-menu" role="navigation">
          <ul id="menu-primary-menu-1" class="vertical menu" data-accordion-menu="" data-submenu-toggle="true">
            <li id="menu-item-2609"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1124 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2609">
              <a href="index.html">Home</a>
              <ul class="vertical nested menu">
                <li id="menu-item-2837"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1124 current_page_item menu-item-2837">
                  <a href="index.html">Home – Cloud
                    Communication</a></li>
                <li id="menu-item-2610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2610">
                  <a href="home2.html">Home
                    – Cloud Hosting</a></li>
                <li id="menu-item-2839" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2839">
                  <a href="home3.html">Home
                    – Tech Company</a></li>
                <li id="menu-item-2612" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2612">
                  <a href="home4.html">Home
                    – Business</a></li>
                <li id="menu-item-2832" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2832">
                  <a
                    href="home5.html">Home
                    – SAAS App Landing</a></li>
                <li id="menu-item-2808" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2808">
                  <a
                    href="home6.html">Home
                    – Digital Agency</a></li>
              </ul>
            </li>
            <li id="menu-item-1275"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1275"><a
              href="#">Pages</a>
              <ul class="vertical nested menu">
                <li id="menu-item-970" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-970"><a
                  href="about.html">About
                  Us</a></li>
                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-359"><a
                  href="pricing.html">Pricing</a>
                </li>
                <li id="menu-item-2830" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2830">
                  <a href="team-2.html">Team</a>
                </li>
                <li id="menu-item-1807" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1807">
                  <a
                    href="services.html">Services</a>
                </li>
                <li id="menu-item-1964" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1964">
                  <a href="about-2.html">About</a>
                </li>
                <li id="menu-item-2809" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2809">
                  <a
                    href="#">Page
                    404</a></li>
              </ul>
            </li>
            <li id="menu-item-2557"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2557"><a
              href="#">Services</a>
              <ul class="vertical nested menu">
                <li id="menu-item-366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-366"><a
                  href="deliveries.html">Deliveries
                  &amp; Collection</a></li>
                <li id="menu-item-369" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-369"><a
                  href="word-wide-customers.html">Word
                  Wide Customers</a></li>
                <li id="menu-item-367"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-367">
                  <a href="awesome-team.html">Awesome
                    Team</a>
                  <ul class="vertical nested menu">
                    <li id="menu-item-368"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-368"><a
                      href="24-7-support.html">24/7
                      Support</a></li>
                    <li id="menu-item-371"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-371"><a
                      href="outbound-calls.html">Outbound
                      Calls</a></li>
                    <li id="menu-item-370"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-370"><a
                      href="inbound-calls.html">Inbound
                      Calls</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li id="menu-item-2810"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2810"><a
              href="#">Shop</a>
              <ul class="vertical nested menu">
                <li id="menu-item-561" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-561"><a
                  href="shop.html">Shop I</a></li>
                <li id="menu-item-1052" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1052">
                  <a href="shop2.html">Shop II</a>
                </li>
                <li id="menu-item-2835"
                    class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2835"><a
                  href="singleProduct.html">Single
                  Product</a></li>
              </ul>
            </li>
            <li id="menu-item-2836"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2836"><a
              href="#">Blog</a>
              <ul class="vertical nested menu">
                <li id="menu-item-357" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-357"><a
                  href="blog.html">Blog Classic</a>
                </li>
                <li id="menu-item-2857" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2857">
                  <a href="blog-grid.html">Blog
                    grid</a></li>
                <li id="menu-item-2858" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2858">
                  <a
                    href="singlePost.html">
                    Single Post</a></li>
              </ul>
            </li>
            <li id="menu-item-1276"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1276"><a
              href="#">Elements</a>
              <ul class="vertical nested menu">
                <li id="menu-item-1371" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1371">
                  <a href="accordions.html">Accordions</a>
                </li>
                <li id="menu-item-1370" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1370">
                  <a href="tabs.html">Tabs</a>
                </li>
                <li id="menu-item-1277" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1277">
                  <a href="button.html">Button</a>
                </li>
                <li id="menu-item-1368" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1368">
                  <a
                    href="headings.html">Headings</a>
                </li>
                <li id="menu-item-1369" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1369">
                  <a href="forms-input.html">Forms
                    &amp; Input</a></li>
                <li id="menu-item-1372" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1372">
                  <a href="text-with-icon.html">Text
                    with Icon</a></li>
                <li id="menu-item-1391" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1391">
                  <a href="count-up.html">Count
                    up</a></li>
                <li id="menu-item-1392" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1392">
                  <a href="team-2.html">Team</a>
                </li>
                <li id="menu-item-1393" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1393">
                  <a href="testimonail.html">Testimonail</a>
                </li>
                <li id="menu-item-1421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1421">
                  <a href="progress-bar.html">Progress
                    Bar</a></li>
                <li id="menu-item-1424" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1424">
                  <a href="clients.html">Clients</a>
                </li>
                <li id="menu-item-1423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1423">
                  <a href="blog-shortcode.html">blog
                    styles</a></li>
                <li id="menu-item-2825" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2825">
                  <a href="portfolio-standard.html">Portfolio
                    Standard</a></li>
                <li id="menu-item-2309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2309">
                  <a href="portfolio-gallery.html">Portfolio
                    Gallery</a></li>
                <li id="menu-item-2307" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2307">
                  <a
                    href="portfolio-masonry-style.html">Portfolio
                    Masonry</a></li>
                <li id="menu-item-2308" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2308">
                  <a href="portfolio-isotope.html">Portfolio
                    Isotope</a></li>
              </ul>
            </li>
            <li id="menu-item-1701" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1701"><a
              href="contact-us.html">Contact us</a>
            </li>
          </ul>
          <div class="header-cta show-for-medium-down"><a
            href="contact-us.html"
            class="wd-btn btn-solid btn-color-2 hover-color-1 btn-small btn-round icon-after"> Request Quote </a></div>
        </nav>
      </div>
    </nav>
  </div>
</header>
<section class="titlebar ">
  <div class="row">
    <div>
      <h1 id="page-title" class="title" style="opacity: 1; top: 0px; transform: matrix(1, 0, 0, 1, 0, 0);">Blog</h1>
    </div>
    <div>
      <ul class="breadcrumbs">
        <li><a href="index.html">Home</a></li>
        <li><strong> Blog</strong></li>
      </ul>
    </div>
  </div>
</section>


<main class="row">
  <div class="large-8 small-12 main columns">
    <div class="blog-posts">
      <article
        class="wd-post post-264 post type-post status-publish format-standard has-post-thumbnail hentry category-freebies category-news">
        <div class="wd-post__thumbnail">
          <img
            src="http://placehold.it/398x166"
            class="attachment-osterisk_blog-thumb size-osterisk_blog-thumb wp-post-image" alt=""
            srcset="http://placehold.it/398x166 1200w, images/mil-jam2-300x125.jpg 300w, images/mil-jam2-768x320.jpg 768w, images/mil-jam2-1024x427.jpg 1024w, images/mil-jam2-600x250.jpg 600w"
            sizes="(max-width: 1200px) 100vw, 1200px" width="1200" height="500"></div>

        <div class="wd-post__content">
          <h3 class="wd-post__title">
            <a
              href="singlePost.html">Best
              VOIP &amp; cloud services WordPress theme</a>
          </h3>
          <ul class="wd-post__meta clearfix">
            <li>December 28, 2018</li>
            <li>By:root</li>
            <li>Category:<a
              href="#"
              rel="category tag">Freebies</a>, <a
              href="#"
              rel="category tag">News</a></li>
            <li>3 comments</li>
          </ul>
          <div class="wd-post__body">
            <p>Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars
              had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the
              spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the
              middle…</p>
          </div>
          <div class="wd-post__read-more">
            <a
              href="singlePost.html">
              Read More <img
              src="images/more.svg"
              alt="icon">
            </a>
          </div>
        </div>

      </article>
      <article
        class="wd-post wd-post--gallery post-262 post type-post status-publish format-gallery has-post-thumbnail hentry category-news post_format-post-format-gallery">
        <div class="wd-post__thumbnail">
          <ul class="wd-gallery-images-holder clearfix wd-post__thumbnail--gallery slick-initialized slick-slider">
            <div class="slick-list draggable">
              <div class="slick-track" style="opacity: 1; width: 4340px; transform: translate3d(-868px, 0px, 0px);">
                <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 868px;"
                     tabindex="-1">
                  <div>
                    <li class="wd-gallery-image-holder" style="width: 100%; display: inline-block;"><img
                      src="http://placehold.it/1200x500"
                      class="attachment-osterisk_blog-thumb size-osterisk_blog-thumb" alt=""
                      srcset="http://placehold.it/1200x500 1200w, images/mil-jam4-300x125.jpg 300w, images/mil-jam4-768x320.jpg 768w, images/mil-jam4-1024x427.jpg 1024w, images/mil-jam4-600x250.jpg 600w"
                      sizes="(max-width: 1200px) 100vw, 1200px" width="1200" height="500"></li>
                  </div>
                </div>
                <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"
                     style="width: 868px;">
                  <div>
                    <li class="wd-gallery-image-holder" style="width: 100%; display: inline-block;"><img
                      src="http://placehold.it/1200x500"
                      class="attachment-osterisk_blog-thumb size-osterisk_blog-thumb" alt=""
                      srcset="http://placehold.it/1200x500 1200w, images/mil-jam3-300x125.jpg 300w, images/mil-jam3-768x320.jpg 768w, images/mil-jam3-1024x427.jpg 1024w, images/mil-jam3-600x250.jpg 600w"
                      sizes="(max-width: 1200px) 100vw, 1200px" width="1200" height="500"></li>
                  </div>
                </div>
                <div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 868px;" tabindex="-1">
                  <div>
                    <li class="wd-gallery-image-holder" style="width: 100%; display: inline-block;"><img
                      src="http://placehold.it/1200x500"
                      class="attachment-osterisk_blog-thumb size-osterisk_blog-thumb" alt=""
                      srcset="http://placehold.it/1200x500 1200w, images/mil-jam4-300x125.jpg 300w, images/mil-jam4-768x320.jpg 768w, images/mil-jam4-1024x427.jpg 1024w, images/mil-jam4-600x250.jpg 600w"
                      sizes="(max-width: 1200px) 100vw, 1200px" width="1200" height="500"></li>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="2" aria-hidden="true" style="width: 868px;"
                     tabindex="-1">
                  <div>
                    <li class="wd-gallery-image-holder" style="width: 100%; display: inline-block;"><img
                      src="http://placehold.it/1200x500"
                      class="attachment-osterisk_blog-thumb size-osterisk_blog-thumb" alt=""
                      srcset="http://placehold.it/1200x500 1200w, images/mil-jam3-300x125.jpg 300w, images/mil-jam3-768x320.jpg 768w, images/mil-jam3-1024x427.jpg 1024w, images/mil-jam3-600x250.jpg 600w"
                      sizes="(max-width: 1200px) 100vw, 1200px" width="1200" height="500"></li>
                  </div>
                </div>
                <div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" style="width: 868px;"
                     tabindex="-1">
                  <div>
                    <li class="wd-gallery-image-holder" style="width: 100%; display: inline-block;"><img
                      src="http://placehold.it/1200x500"
                      class="attachment-osterisk_blog-thumb size-osterisk_blog-thumb" alt=""
                      srcset="http://placehold.it/1200x500 1200w, images/mil-jam4-300x125.jpg 300w, images/mil-jam4-768x320.jpg 768w, images/mil-jam4-1024x427.jpg 1024w, images/mil-jam4-600x250.jpg 600w"
                      sizes="(max-width: 1200px) 100vw, 1200px" width="1200" height="500"></li>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
        <div class="wd-post__content">
          <h3 class="wd-post__title">
            <a
              href="singlePost.html">How
              to Choose a VOIP WordPress Theme</a>
          </h3>
          <ul class="wd-post__meta clearfix">
            <li>December 28, 2018</li>
            <li>By:root</li>
            <li>Category:<a
              href="#"
              rel="category tag">News</a></li>
            <li>3 comments</li>
          </ul>
          <div class="wd-post__body">
            <p>Setting up a Small Office Home Office is not as difficult to get started as you may have imagined. If you
              have a new business idea and need to work from home, yet still need to collaborate, then a SoHo solution
              is for you. However if you find even Small Office Home Office business communications a minefield, help is
              at…</p>
          </div>
          <div class="wd-post__read-more">
            <a
              href="singlePost.html">
              Read More <img
              src="images/more.svg"
              alt="icon">
            </a>
          </div>
        </div>
      </article>
      <article
        class="wd-post post-258 post type-post status-publish format-standard has-post-thumbnail hentry category-news">
        <div class="wd-post__thumbnail">
          <img
            src="http://placehold.it/1200x500"
            class="attachment-osterisk_blog-thumb size-osterisk_blog-thumb wp-post-image" alt=""
            srcset="http://placehold.it/1200x500 1200w, images/mil-jam4-300x125.jpg 300w, images/mil-jam4-768x320.jpg 768w, images/mil-jam4-1024x427.jpg 1024w, images/mil-jam4-600x250.jpg 600w"
            sizes="(max-width: 1200px) 100vw, 1200px" width="1200" height="500"></div>

        <div class="wd-post__content">
          <h3 class="wd-post__title">
            <a
              href="singlePost.html">Quickly
              deploy strategic networks with compelling</a>
          </h3>
          <ul class="wd-post__meta clearfix">
            <li>December 28, 2018</li>
            <li>By:root</li>
            <li>Category:<a
              href="#"
              rel="category tag">News</a></li>
            <li>3 comments</li>
          </ul>
          <div class="wd-post__body">
            <p>Our smart media phone that provides an enriched HD audio video calling experience for business
              professionals. Change the way your office communicates with video&nbsp;communication&nbsp;that increases&nbsp;productivity
              and enhances communication with the ease of a standard phone. Communicate face-to-face with your
              colleagues, even across different locations. Minime vero, inquit ille, consentit. Naturales divitias dixit
              parabiles esse, quod parvo esset natura contenta. Et…</p>
          </div>
          <div class="wd-post__read-more">
            <a
              href="singlePost.html">
              Read More <img
              src="images/more.svg"
              alt="icon">
            </a>
          </div>
        </div>

      </article>
      <article
        class="wd-post post-256 post type-post status-publish format-standard has-post-thumbnail hentry category-freebies category-news">
        <div class="wd-post__thumbnail">
          <img
            src="http://placehold.it/900x500"
            class="attachment-osterisk_blog-thumb size-osterisk_blog-thumb wp-post-image" alt="" width="900"
            height="500"></div>

        <div class="wd-post__content">
          <h3 class="wd-post__title">
            <a
              href="singlePost.html">Fully
              researched data and enterprise process improvements</a>
          </h3>
          <ul class="wd-post__meta clearfix">
            <li>December 28, 2018</li>
            <li>By:root</li>
            <li>Category:<a
              href="#"
              rel="category tag">Freebies</a>, <a
              href="#"
              rel="category tag">News</a></li>
            <li>no comments</li>
          </ul>
          <div class="wd-post__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod idem cum vestri faciant, non satis magnam
              tribuunt inventoribus gratiam. Bonum negas esse divitias, praeposìtum esse dicis? Duo Reges: constructio
              interrete. Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur sequi; Luxuriam non
              reprehendit, modo sit vacua infinita cupiditate et timore. Beatus sibi videtur esse moriens. Non potes,
              nisi retexueris…</p>
          </div>
          <div class="wd-post__read-more">
            <a
              href="singlePost.html">
              Read More <img
              src="images/more.svg"
              alt="icon">
            </a>
          </div>
        </div>

      </article>
      <article
        class="wd-post post-251 post type-post status-publish format-standard has-post-thumbnail hentry category-mock-ups category-news">
        <div class="wd-post__thumbnail">
          <img
            src="http://placehold.it/900x500"
            class="attachment-osterisk_blog-thumb size-osterisk_blog-thumb wp-post-image" alt="" width="900"
            height="500"></div>

        <div class="wd-post__content">
          <h3 class="wd-post__title">
            <a
              href="singlePost.html">Professionally
              cultivate one-to-one customer service</a>
          </h3>
          <ul class="wd-post__meta clearfix">
            <li>December 28, 2018</li>
            <li>By:root</li>
            <li>Category:<a
              href="#"
              rel="category tag">Mock-ups</a>, <a
              href="#"
              rel="category tag">News</a></li>
            <li>no comments</li>
          </ul>
          <div class="wd-post__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amicitiam autem adhibendam esse censent, quia
              sit ex eo genere, quae prosunt. Quo modo autem optimum, si bonum praeterea nullum est? Vitae autem
              degendae ratio maxime quidem illis placuit quieta. Duo Reges: constructio interrete. Ita multo sanguine
              profuso in laetitia et in victoria est mortuus. Quare conare, quaeso. Itaque contra est, ac…</p>
          </div>
          <div class="wd-post__read-more">
            <a
              href="singlePost.html">
              Read More <img
              src="images/more.svg"
              alt="icon">
            </a>
          </div>
        </div>

      </article>
      <article
        class="wd-post post-248 post type-post status-publish format-standard has-post-thumbnail hentry category-mock-ups category-news">
        <div class="wd-post__thumbnail">
          <img
            src="http://placehold.it/900x500"
            class="attachment-osterisk_blog-thumb size-osterisk_blog-thumb wp-post-image" alt="" width="1200"
            height="500"></div>

        <div class="wd-post__content">
          <h3 class="wd-post__title">
            <a
              href="singlePost.html">Podcasting
              operational change management</a>
          </h3>
          <ul class="wd-post__meta clearfix">
            <li>December 28, 2018</li>
            <li>By:root</li>
            <li>Category:<a
              href="#"
              rel="category tag">Mock-ups</a>, <a
              href="#"
              rel="category tag">News</a></li>
            <li>3 comments</li>
          </ul>
          <div class="wd-post__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc loco tenere se Triarius non potuit. Nam quid
              possumus facere melius? Praeclare enim Plato: Beatum, cui etiam in senectute contigerit, ut sapientiam
              verasque opiniones assequi possit. De hominibus dici non necesse est. Duo Reges: constructio interrete.
              Neque enim civitas in seditione beata esse potest nec in discordia dominorum domus; Restatis igitur…</p>
          </div>
          <div class="wd-post__read-more">
            <a
              href="singlePost.html">
              Read More <img
              src="images/more.svg"
              alt="icon">
            </a>
          </div>
        </div>

      </article>
      <article
        class="wd-post post-60 post type-post status-publish format-standard has-post-thumbnail hentry category-freebies category-news">
        <div class="wd-post__thumbnail">
          <img
            src="http://placehold.it/900x500"
            class="attachment-osterisk_blog-thumb size-osterisk_blog-thumb wp-post-image" alt="" width="900"
            height="500"></div>

        <div class="wd-post__content">
          <h3 class="wd-post__title">
            <a
              href="singlePost.html">Britain
              could have its own Google – but it will probably take decades</a>
          </h3>
          <ul class="wd-post__meta clearfix">
            <li>December 1, 2018</li>
            <li>By:root</li>
            <li>Category:<a
              href="#"
              rel="category tag">Freebies</a>, <a
              href="#"
              rel="category tag">News</a></li>
            <li>no comments</li>
          </ul>
          <div class="wd-post__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc loco tenere se Triarius non potuit. Nam quid
              possumus facere melius? Praeclare enim Plato: Beatum, cui etiam in senectute contigerit, ut sapientiam
              verasque opiniones assequi possit. De hominibus dici non necesse est. Duo Reges: constructio interrete.
              Neque enim civitas in seditione beata esse potest nec in discordia dominorum domus; Restatis igitur…</p>
          </div>
          <div class="wd-post__read-more">
            <a
              href="singlePost.html">
              Read More <img
              src="images/more.svg"
              alt="icon">
            </a>
          </div>
        </div>

      </article>
      <article
        class="wd-post post-64 post type-post status-publish format-standard has-post-thumbnail hentry category-news">
        <div class="wd-post__thumbnail">
          <img
            src="http://placehold.it/900x500"
            class="attachment-osterisk_blog-thumb size-osterisk_blog-thumb wp-post-image" alt="" width="900"
            height="500"></div>

        <div class="wd-post__content">
          <h3 class="wd-post__title">
            <a
              href="singlePost.html">Crawford
              Healthcare on top after a rollercoaster ride</a>
          </h3>
          <ul class="wd-post__meta clearfix">
            <li>November 29, 2018</li>
            <li>By:root</li>
            <li>Category:<a
              href="#"
              rel="category tag">News</a></li>
            <li>no comments</li>
          </ul>
          <div class="wd-post__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Equidem, sed audistine modo de Carneade? Nescio
              quo modo praetervolavit oratio. Inde igitur, inquit, ordiendum est. An hoc usque quaque, aliter in vita?
              Duo Reges: constructio interrete. Tu vero, inquam, ducas licet, si sequetur; Ut aliquid scire se gaudeant?
              Polycratem Samium felicem appellabant. Vitiosum est enim in dividendo partem in genere numerare.…</p>
          </div>
          <div class="wd-post__read-more">
            <a
              href="singlePost.html">
              Read More <img
              src="images/more.svg"
              alt="icon">
            </a>
          </div>
        </div>

      </article>
      <article
        class="wd-post post-62 post type-post status-publish format-standard has-post-thumbnail hentry category-bundles category-news">
        <div class="wd-post__thumbnail">
          <img
            src="http://placehold.it/900x500"
            class="attachment-osterisk_blog-thumb size-osterisk_blog-thumb wp-post-image" alt="" width="900"
            height="500"></div>

        <div class="wd-post__content">
          <h3 class="wd-post__title">
            <a
              href="singlePost.html">Three
              ways to optimize your pricing strategy</a>
          </h3>
          <ul class="wd-post__meta clearfix">
            <li>September 30, 2018</li>
            <li>By:root</li>
            <li>Category:<a
              href="#"
              rel="category tag">Bundles</a>, <a
              href="#"
              rel="category tag">News</a></li>
            <li>no comments</li>
          </ul>
          <div class="wd-post__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duae sunt enim res quoque, ne tu verba solum
              putes. Haec et tu ita posuisti, et verba vestra sunt. Roges enim Aristonem, bonane ei videantur haec:
              vacuitas doloris, divitiae, valitudo; Isto modo ne improbos quidem, si essent boni viri. Pauca mutat vel
              plura sane; Neque enim civitas in seditione beata esse potest…</p>
          </div>
          <div class="wd-post__read-more">
            <a
              href="singlePost.html">
              Read More <img
              src="images/more.svg"
              alt="icon">
            </a>
          </div>
        </div>

      </article>
      <article
        class="wd-post post-260 post type-post status-publish format-standard has-post-thumbnail hentry category-bundles category-news">
        <div class="wd-post__thumbnail">
          <img
            src="http://placehold.it/900x500"
            class="attachment-osterisk_blog-thumb size-osterisk_blog-thumb wp-post-image" alt="" width="900"
            height="500"></div>

        <div class="wd-post__content">
          <h3 class="wd-post__title">
            <a
              href="singlePost.html">Seamlessly
              visualize quality intellectual capital without superior collaboration</a>
          </h3>
          <ul class="wd-post__meta clearfix">
            <li>August 30, 2018</li>
            <li>By:root</li>
            <li>Category:<a
              href="#"
              rel="category tag">Bundles</a>, <a
              href="#"
              rel="category tag">News</a></li>
            <li>no comments</li>
          </ul>
          <div class="wd-post__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fortasse id optimum, sed ubi illud: Plus semper
              voluptatis? Quid autem habent admirationis, cum prope accesseris? Id est enim, de quo quaerimus. Quis
              animo aequo videt eum, quem inpure ac flagitiose putet vivere? Duo Reges: constructio interrete. Sed id ne
              cogitari quidem potest quale sit, ut non repugnet ipsum sibi. Sed ego…</p>
          </div>
          <div class="wd-post__read-more">
            <a
              href="singlePost.html">
              Read More <img
              src="images/more.svg"
              alt="icon">
            </a>
          </div>
        </div>

      </article>
      <div class="wd-post__pagination">
        <span aria-current="page" class="page-numbers current">1</span>
        <a class="page-numbers"
           href="#">2</a>
        <a class="next page-numbers"
           href="#">Next »</a></div>
    </div>

  </div>

  <aside class="large-4 small-12 sidebar-second columns sidebar">
    <section>
      <form action="index.html" class="searchform"
            method="get" role="search">
        <div class="form-group">
          <input type="text" id="s" class="form-control" name="s" placeholder="Search...">
          <button type="submit" value="Search..." id="searchsubmit"></button>
        </div>
      </form>
    </section>
    <section><h4 class="block-title">Recent Post</h4>
      <div class="wd-latest-posts-widget ">
        <ul>
          <li class="wd-latest-posts-widget__post">
            <div class="wd-latest-posts-widget__image">
              <a
                href="singlePost.html"><img
                src="http://placehold.it/160x140"
                class="attachment-osterisk_sidebar-thumb size-osterisk_sidebar-thumb wp-post-image" alt="" width="160"
                height="140"></a>
            </div>
            <div class="wd-latest-posts-widget__content">
              <h5 class="wd-latest-posts-widget__title"><a
                href="singlePost.html">Best
                VOIP &amp; cloud services WordPress theme</a></h5>
              <p class="wd-latest-posts-widget__meta">December 28, 2018</p>
            </div>
          </li>
          <li class="wd-latest-posts-widget__post">
            <div class="wd-latest-posts-widget__image">
              <a
                href="singlePost.html"><img
                src="http://placehold.it/160x140"
                class="attachment-osterisk_sidebar-thumb size-osterisk_sidebar-thumb wp-post-image" alt="" width="160"
                height="140"></a>
            </div>
            <div class="wd-latest-posts-widget__content">
              <h5 class="wd-latest-posts-widget__title"><a
                href="singlePost.html">How
                to Choose a VOIP WordPress Theme</a></h5>
              <p class="wd-latest-posts-widget__meta">December 28, 2018</p>
            </div>
          </li>
          <li class="wd-latest-posts-widget__post">
            <div class="wd-latest-posts-widget__image">
              <a
                href="singlePost.html"><img
                src="ihttp://placehold.it/160x140"
                class="attachment-osterisk_sidebar-thumb size-osterisk_sidebar-thumb wp-post-image" alt="" width="160"
                height="140"></a>
            </div>
            <div class="wd-latest-posts-widget__content">
              <h5 class="wd-latest-posts-widget__title"><a
                href="singlePost.html">Quickly
                deploy strategic networks with compelling</a></h5>
              <p class="wd-latest-posts-widget__meta">December 28, 2018</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section><h4 class="block-title">Popular tags</h4>
      <div class="tagcloud"><a
        href="#"
        class="tag-cloud-link tag-link-50 tag-link-position-1" style="font-size: 15px;">Freebies</a>
        <a href="#"
           class="tag-cloud-link tag-link-51 tag-link-position-2" style="font-size: 15px;">Graphic</a>
        <a href="#"
           class="tag-cloud-link tag-link-49 tag-link-position-3" style="font-size: 15px;">Mock-ups</a>
        <a href="#"
           class="tag-cloud-link tag-link-52 tag-link-position-4" style="font-size: 15px;">Photos</a>
        <a href="#"
           class="tag-cloud-link tag-link-48 tag-link-position-5" style="font-size: 15px;">Projects</a></div>
    </section>
    <section><h4 class="block-title">Categories</h4>
      <ul>
        <li class="cat-item cat-item-54"><a
          href="#">Bundles</a>
        </li>
        <li class="cat-item cat-item-55"><a
          href="#">Freebies</a>
        </li>
        <li class="cat-item cat-item-53"><a
          href="#">Mock-ups</a>
        </li>
        <li class="cat-item cat-item-2"><a
          href="#">News</a>
        </li>
      </ul>
    </section>
    <section>
      <div id="calendar_wrap" class="calendar_wrap">
        <table id="wp-calendar">
          <caption>January 2019</caption>
          <thead>
          <tr>
            <th scope="col" title="Monday">M</th>
            <th scope="col" title="Tuesday">T</th>
            <th scope="col" title="Wednesday">W</th>
            <th scope="col" title="Thursday">T</th>
            <th scope="col" title="Friday">F</th>
            <th scope="col" title="Saturday">S</th>
            <th scope="col" title="Sunday">S</th>
          </tr>
          </thead>

          <tfoot>
          <tr>
            <td colspan="3" id="prev"><a
              href="#">« Dec</a></td>
            <td class="pad">&nbsp;</td>
            <td colspan="3" id="next" class="pad">&nbsp;</td>
          </tr>
          </tfoot>

          <tbody>
          <tr>
            <td colspan="1" class="pad">&nbsp;</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
          </tr>
          <tr>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
          </tr>
          <tr>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
          </tr>
          <tr>
            <td>21</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td id="today">25</td>
            <td>26</td>
            <td>27</td>
          </tr>
          <tr>
            <td>28</td>
            <td>29</td>
            <td>30</td>
            <td>31</td>
            <td class="pad" colspan="3">&nbsp;</td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section><h4 class="block-title">Archives</h4>
      <ul>
        <li><a href="#">December 2018</a>
        </li>
        <li><a href="#">November 2018</a>
        </li>
        <li><a href="#">September
          2018</a></li>
        <li><a href="#">August 2018</a>
        </li>
        <li><a href="#">July 2018</a>
        </li>
      </ul>
    </section>
  </aside><!-- #secondary -->
</main>


<div class="clearfex"></div>
<section class="first-footer" style="color: #fff;"><h3 class="hide">Footer</h3>
  <div class="row">
    <section class="block">
      <div class="large-3 medium-6 columns">
        <div id="text-3" class=" widget_text ">
          <div class="textwidget"><p><img style="margin-bottom: 30px;"
                                          src="images/Group-199.png"
                                          alt="Osterisk"></p>
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day,
              going forward, a new normal that has evolved from generation.</p></div>
        </div>
      </div>
      <div class="large-3 medium-6 columns">
        <div id="text-4" class=" widget_text "><h4 class="block-title">Business Hours</h4>
          <div class="textwidget"><h6>Opining Days :</h6>
            <div>Monday – Friday : 9am to 20 pm</div>
            <div style="margin-bottom: 20px;">Saturday : 9am to 17 pm</div>
            <h6>Vacations :</h6>
            <div>All Sunday Days</div>
            <div>All Official Holidays</div>
          </div>
        </div>
      </div>
      <div class="large-3 medium-6 columns">
        <div id="text-5" class=" widget_text "><h4 class="block-title">Practice Areas</h4>
          <div class="textwidget">
            <div class="menu-left-menu-container">
              <ul id="menu-left-menu" class="menu">
                <li id="menu-item-2515" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2515">
                  <a href="#">Services</a></li>
                <li id="menu-item-2516" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2516">
                  <a href="#">Strategic Planning</a></li>
                <li id="menu-item-2517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2517">
                  <a href="#">Audit &amp; Assurance</a></li>
                <li id="menu-item-2518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2518">
                  <a href="#">Business Services</a></li>
                <li id="menu-item-2519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2519">
                  <a href="#">Sales &amp; Trading</a></li>
                <li id="menu-item-2520" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2520">
                  <a href="#">Investment Banking</a></li>
                <li id="menu-item-2521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2521">
                  <a href="#">Chemical Industry</a></li>
                <li id="menu-item-2522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2522">
                  <a href="#">Investment Management</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="large-3 medium-6 columns">
        <div id="text-7" class=" widget_text "><h4 class="block-title">Instagram</h4>
          <div class="textwidget"><p><img class="alignleft wp-image-3011 size-full"
                                          src="http://placehold.it/531x173">
          </p></div>
        </div>
      </div>
    </section>
  </div>
</section>

<footer class="second-footer">
  <div class="row">
    <div class="copyright medium-3 large-3 columns"> 2018 Osterisk All rights reserved.</div>
    <div class="powered medium-6 large-6 columns">
      <section class="block">
        <div class="menu-menu-container">
          <ul id="menu-menu" class="menu">
            <li class=" menu-item menu-item-type-post_type menu-item-object-page color-9 "><a
              href="#">Checkout</a></li>
            <li class=" menu-item menu-item-type-post_type menu-item-object-page color-10 "><a
              href="#">Cart</a></li>
            <li class=" menu-item menu-item-type-post_type menu-item-object-page color-11 "><a
              href="#">Shop</a></li>
            <li class=" menu-item menu-item-type-post_type menu-item-object-page color-12 "><a
              href="#">Columns</a></li>
          </ul>
        </div>
      </section>
    </div>
    <div class="footer-social-media medium-3 large-3 columns">
      <ul class="footer-social-media">
        <li class=""><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class=""><a href="#"><i class="fab fa-flickr"></i></a></li>
        <li class=""><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li class=""><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>

<script src="js/jquery.js"></script>
<script src="js/hoverIntent.min.js"></script>
<script src="js/wd-script.min.js"></script>

</body>
</html>