<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio Isotope</title>
  <link rel="stylesheet" href="css/foundation.min.css">
  <link rel="stylesheet" href="css/mediaelementplayer.css">
  <link rel="stylesheet" href="css/slick.min.css">
  <link rel="stylesheet" href="css/slick-theme.min.css">
  <link rel="stylesheet" href="css/animate-custom.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/fontawesome.min.css">
  <link
    href="https://fonts.googleapis.com/css?family=Martel+Sans:200,300,400,600,700,800,900|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
</head>
<body>
<header class="l-header creative-layout" data-sticky-container="">
  <div class="top-bar-container sticky slideUp" style="top: 0px;">
    <div class="site-title-bar" data-responsive-toggle="mobile-menu" data-hide-for="large">
      <div class="title-bar-left">
        <button aria-label="Main Menu" class="menu-icon" type="button" data-toggle="mobile-menu"></button>
        <span class="site-mobile-title title-bar-title logo"> <a
          href="index.html" rel="home"
          title="Osterisk: VOIP &amp; Cloud Services WordPress Theme" class="active"><img
          src="images/logo.png"
          alt="logo"></a> </span></div>
    </div>
    <nav class="site-navigation top-bar " role="navigation">
      <div class="top-bar-left">
        <div class="site-desktop-title top-bar-title">
          <div class="logo-wrapper " data-dropdown-menu="">
            <div class="menu-text"><a href="index.html"
                                      rel="home" title="Osterisk: VOIP &amp; Cloud Services WordPress Theme"
                                      class="active"><img
              src="images/logo.png"
              alt="logo"></a></div>
          </div>
        </div>
      </div>
      <div class="top-bar-right" style="color: #fff;">
        <ul id="menu-primary-menu" class="desktop-menu menu">
          <li
            class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1124 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children active is-dropdown-submenu-parent opens-right not-click has-dropdown not-click color-2 menu-item-home">
            <a href="index.html">Home</a>
            <ul class="submenu is-dropdown-submenu ">
              <li
                class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1124 current_page_item active color-2 menu-item-home">
                <a href="index.html">Home – Cloud
                  Communication</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-2 "><a
                href="home2.html">Home
                – Cloud Hosting</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-2 "><a
                href="home3.html">Home –
                Tech Company</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-2 "><a
                href="home4.html">Home –
                Business</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-2 "><a
                href="home5.html">Home
                – SAAS App Landing</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-2 "><a
                href="home6.html">Home
                – Digital Agency</a></li>
            </ul>
          </li>
          <li
            class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children is-dropdown-submenu-parent opens-right not-click has-dropdown not-click color-3 menu-item-has-children">
            <a href="#">Pages</a>
            <ul class="submenu is-dropdown-submenu ">
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-3 "><a
                href="about.html">About Us</a>
              </li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-3 "><a
                href="pricing.html">Pricing</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-3 "><a
                href="team.html">Team</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-3 "><a
                href="Services.html">Services</a>
              </li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-3 "><a
                href="about.html">About</a></li>
              <li class=" menu-item menu-item-type-custom menu-item-object-custom color-3 "><a
                href="#">Page
                404</a></li>
            </ul>
          </li>
          <li
            class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children is-dropdown-submenu-parent opens-right not-click has-dropdown not-click color-4 menu-item-has-children">
            <a href="#">Services</a>
            <ul class="submenu is-dropdown-submenu ">
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-4 "><a
                href="deliveries.html">Deliveries
                &amp; Collection</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-4 "><a
                href="word-wide-customers.html">Word
                Wide Customers</a></li>
              <li
                class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children is-dropdown-submenu-parent opens-right not-click has-dropdown not-click color-4 menu-item-has-children">
                <a href="awesome-team.html">Awesome
                  Team</a>
                <ul class="submenu is-dropdown-submenu ">
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-4 "><a
                    href="24-7-support.html">24/7
                    Support</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-4 "><a
                    href="outbound-calls.html">Outbound
                    Calls</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-4 "><a
                    href="inbound-calls.html">Inbound
                    Calls</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li
            class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children is-dropdown-submenu-parent opens-right not-click has-dropdown not-click color-5 menu-item-has-children">
            <a href="#">Shop</a>
            <ul class="submenu is-dropdown-submenu ">
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-5 "><a
                href="shop.html">Shop I</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-page color-5 "><a
                href="shop2.html">Shop II</a></li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-product color-5 "><a
                href="singleProduct.html">Single
                Product</a></li>
            </ul>
          </li>
          <li
            class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children is-dropdown-submenu-parent opens-right not-click has-dropdown not-click color-6 menu-item-has-children">
            <a href="#">Blog</a>
            <ul class="submenu is-dropdown-submenu ">
              <li><a
                href="blog.html">Blog Classic</a>
              </li>
              <li><a
                href="blog-grid.html">Blog grid</a>
              </li>
              <li class=" menu-item menu-item-type-post_type menu-item-object-post color-6 "><a
                href="singlePost.html">Single
                Post</a></li>
            </ul>
          </li>
          <li
            class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children is-dropdown-submenu-parent opens-right not-click has-dropdown not-click mega-menu color-7 menu-item-has-children">
            <a href="#">Elements</a>
            <ul class="submenu is-dropdown-submenu ">
              <li class=" mega-menu-column">
                <ul>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="accordions.html">Accordions</a>
                  </li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="tabs.html">Tabs</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="button.html">Button</a>
                  </li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="headings.html">Headings</a>
                  </li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "></li>
                </ul>
              </li>
              <li class=" mega-menu-column">
                <ul>
                  <li><a href="forms-input.html">Forms
                    &amp; Input</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="text-with-icon.html">Text
                    with Icon</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="count-up.html">Count
                    up</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="team-2.html">Team</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "></li>
                </ul>
              </li>
              <li class=" mega-menu-column">
                <ul>
                  <li><a href="testimonail.html">Testimonail</a>
                  </li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="progress-bar.html">Progress
                    Bar</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="clients.html">Clients</a>
                  </li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="blog-shortcode.html">blog
                    styles</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "></li>
                </ul>
              </li>
              <li class=" mega-menu-column">
                <ul>
                  <li><a
                    href="portfolio-standard.html">Portfolio
                    Standard</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="portfolio-gallery.html">Portfolio
                    Gallery</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="portfolio-masonry-style.html">Portfolio
                    Masonry</a></li>
                  <li class=" menu-item menu-item-type-post_type menu-item-object-page color-7 "><a
                    href="portfolio-isotope.html">Portfolio
                    Isotope</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class=" menu-item menu-item-type-post_type menu-item-object-page color-8 "><a
            href="contact-us.html">Contact us</a>
          </li>
        </ul>
        <div class="header-cta show-for-large-up large-screen"><a
          href="contact-us.html"
          class="wd-btn btn-solid btn-color-2 hover-color-1 btn-small btn-round icon-after"> Request Quote </a></div>
        <nav class="mobile-menu vertical menu" id="mobile-menu" role="navigation">
          <ul id="menu-primary-menu-1" class="vertical menu" data-accordion-menu="" data-submenu-toggle="true">
            <li id="menu-item-2609"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1124 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2609">
              <a href="index.html">Home</a>
              <ul class="vertical nested menu">
                <li id="menu-item-2837"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1124 current_page_item menu-item-2837">
                  <a href="index.html">Home – Cloud
                    Communication</a></li>
                <li id="menu-item-2610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2610">
                  <a href="home2.html">Home
                    – Cloud Hosting</a></li>
                <li id="menu-item-2839" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2839">
                  <a href="home3.html">Home
                    – Tech Company</a></li>
                <li id="menu-item-2612" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2612">
                  <a href="home4.html">Home
                    – Business</a></li>
                <li id="menu-item-2832" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2832">
                  <a
                    href="home5.html">Home
                    – SAAS App Landing</a></li>
                <li id="menu-item-2808" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2808">
                  <a
                    href="home6.html">Home
                    – Digital Agency</a></li>
              </ul>
            </li>
            <li id="menu-item-1275"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1275"><a
              href="#">Pages</a>
              <ul class="vertical nested menu">
                <li id="menu-item-970" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-970"><a
                  href="about.html">About
                  Us</a></li>
                <li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-359"><a
                  href="pricing.html">Pricing</a>
                </li>
                <li id="menu-item-2830" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2830">
                  <a href="team-2.html">Team</a>
                </li>
                <li id="menu-item-1807" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1807">
                  <a
                    href="services.html">Services</a>
                </li>
                <li id="menu-item-1964" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1964">
                  <a href="about-2.html">About</a>
                </li>
                <li id="menu-item-2809" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2809">
                  <a
                    href="#">Page
                    404</a></li>
              </ul>
            </li>
            <li id="menu-item-2557"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2557"><a
              href="#">Services</a>
              <ul class="vertical nested menu">
                <li id="menu-item-366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-366"><a
                  href="deliveries.html">Deliveries
                  &amp; Collection</a></li>
                <li id="menu-item-369" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-369"><a
                  href="word-wide-customers.html">Word
                  Wide Customers</a></li>
                <li id="menu-item-367"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-367">
                  <a href="awesome-team.html">Awesome
                    Team</a>
                  <ul class="vertical nested menu">
                    <li id="menu-item-368"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-368"><a
                      href="24-7-support.html">24/7
                      Support</a></li>
                    <li id="menu-item-371"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-371"><a
                      href="outbound-calls.html">Outbound
                      Calls</a></li>
                    <li id="menu-item-370"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-370"><a
                      href="inbound-calls.html">Inbound
                      Calls</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li id="menu-item-2810"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2810"><a
              href="#">Shop</a>
              <ul class="vertical nested menu">
                <li id="menu-item-561" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-561"><a
                  href="shop.html">Shop I</a></li>
                <li id="menu-item-1052" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1052">
                  <a href="shop2.html">Shop II</a>
                </li>
                <li id="menu-item-2835"
                    class="menu-item menu-item-type-post_type menu-item-object-product menu-item-2835"><a
                  href="singleProduct.html">Single
                  Product</a></li>
              </ul>
            </li>
            <li id="menu-item-2836"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2836"><a
              href="#">Blog</a>
              <ul class="vertical nested menu">
                <li id="menu-item-357" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-357"><a
                  href="blog.html">Blog Classic</a>
                </li>
                <li id="menu-item-2857" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2857">
                  <a href="blog-grid.html">Blog
                    grid</a></li>
                <li id="menu-item-2858" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-2858">
                  <a
                    href="singlePost.html">
                    Single Post</a></li>
              </ul>
            </li>
            <li id="menu-item-1276"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1276"><a
              href="#">Elements</a>
              <ul class="vertical nested menu">
                <li id="menu-item-1371" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1371">
                  <a href="accordions.html">Accordions</a>
                </li>
                <li id="menu-item-1370" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1370">
                  <a href="tabs.html">Tabs</a>
                </li>
                <li id="menu-item-1277" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1277">
                  <a href="button.html">Button</a>
                </li>
                <li id="menu-item-1368" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1368">
                  <a
                    href="headings.html">Headings</a>
                </li>
                <li id="menu-item-1369" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1369">
                  <a href="forms-input.html">Forms
                    &amp; Input</a></li>
                <li id="menu-item-1372" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1372">
                  <a href="text-with-icon.html">Text
                    with Icon</a></li>
                <li id="menu-item-1391" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1391">
                  <a href="count-up.html">Count
                    up</a></li>
                <li id="menu-item-1392" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1392">
                  <a href="team-2.html">Team</a>
                </li>
                <li id="menu-item-1393" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1393">
                  <a href="testimonail.html">Testimonail</a>
                </li>
                <li id="menu-item-1421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1421">
                  <a href="progress-bar.html">Progress
                    Bar</a></li>
                <li id="menu-item-1424" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1424">
                  <a href="clients.html">Clients</a>
                </li>
                <li id="menu-item-1423" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1423">
                  <a href="blog-shortcode.html">blog
                    styles</a></li>
                <li id="menu-item-2825" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2825">
                  <a href="portfolio-standard.html">Portfolio
                    Standard</a></li>
                <li id="menu-item-2309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2309">
                  <a href="portfolio-gallery.html">Portfolio
                    Gallery</a></li>
                <li id="menu-item-2307" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2307">
                  <a
                    href="portfolio-masonry-style.html">Portfolio
                    Masonry</a></li>
                <li id="menu-item-2308" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2308">
                  <a href="portfolio-isotope.html">Portfolio
                    Isotope</a></li>
              </ul>
            </li>
            <li id="menu-item-1701" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1701"><a
              href="contact-us.html">Contact us</a>
            </li>
          </ul>
          <div class="header-cta show-for-medium-down"><a
            href="contact-us.html"
            class="wd-btn btn-solid btn-color-2 hover-color-1 btn-small btn-round icon-after"> Request Quote </a></div>
        </nav>
      </div>
    </nav>
  </div>
</header>
<section class="titlebar ">
  <div class="row">
    <div>
      <h1 id="page-title" class="title" style="opacity: 1; top: 0px; transform: matrix(1, 0, 0, 1, 0, 0);">Portfolio Isotope</h1>
    </div>
    <div>
      <ul class="breadcrumbs">
        <li><a href="index.html">Home</a></li>
        <li><strong> Services</strong></li>
      </ul>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <div class="large-12 small-12 columns">
      <div class="filters">
        <div class="button-group filters-button-group">
          <button class="portfolio_cats is-checked" data-filter="*">show all</button>
          <button class="portfolio_cats" data-filter=".freebies">freebies</button>
          <button class="portfolio_cats" data-filter=".graphic">graphic</button>
          <button class="portfolio_cats" data-filter=".mock-ups">mock-ups</button>
          <button class="portfolio_cats" data-filter=".photos">photos</button>
          <button class="portfolio_cats" data-filter=".projects">projects</button>
        </div>
      </div>
      <ul class="portfolio-grid-items portfolio-layout-3 large-up-3 columns" style="width: 1290px; position: relative; height: 1104.78px;">
        <li class="column column-block element-item  mock-ups projects  " data-category="mock-ups" style="position: absolute; left: 0px; top: 0px;">
          <article class="portfolio-grid-items-content">
            <img src="http://placehold.it/700x469" alt="Dedicated Support">
            <div class="portfolio_disc" style="display: block; left: 0px; top: 100%; transition: all 300ms ease 0s;">
              <article class="portfolio_int">
                <a class="portfolio_icon" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <h3 class="portfolio_title">Dedicated Support</h3>
              </article>
            </div>
          </article>
        </li>
        <li class="column column-block element-item  freebies graphic  " data-category="freebies" style="position: absolute; left: 430px; top: 0px;">
          <article class="portfolio-grid-items-content">
            <img src="http://placehold.it/700x611" alt="Awesome work category">
            <div class="portfolio_disc" style="display: block; left: 0px; top: 100%; transition: all 300ms ease 0s;">
              <article class="portfolio_int">
                <a class="portfolio_icon" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <h3 class="portfolio_title">Awesome work category</h3>
              </article>
            </div>
          </article>
        </li>
        <li class="column column-block element-item  graphic projects  " data-category="graphic" style="position: absolute; left: 860px; top: 0px;">
          <article class="portfolio-grid-items-content">
            <img src="http://placehold.it/700x454" alt="Work title here category">
            <div class="portfolio_disc" style="display: block; left: -100%; top: 0px; transition: all 300ms ease 0s;">
              <article class="portfolio_int">
                <a class="portfolio_icon" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <h3 class="portfolio_title">Work title here category</h3>
              </article>
            </div>
          </article>
        </li>
        <li class="column column-block element-item  freebies mock-ups photos  " data-category="freebies" style="position: absolute; left: 860px; top: 289.417px;">
          <article class="portfolio-grid-items-content">
            <img src="http://placehold.it/1200x500" alt="Healthy Milk Jam">
            <div class="portfolio_disc" style="display: block; left: 0px; top: -100%; transition: all 300ms ease 0s;">
              <article class="portfolio_int">
                <a class="portfolio_icon" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <h3 class="portfolio_title">Healthy Milk Jam</h3>
              </article>
            </div>
          </article>
        </li>
        <li class="column column-block element-item  freebies photos projects  " data-category="freebies" style="position: absolute; left: 0px; top: 297.983px;">
          <article class="portfolio-grid-items-content">
            <img src="http://placehold.it/700x699" alt="Shopping Bag Design">
            <div class="portfolio_disc" style="display: block; left: -100%; top: 0px; transition: all 300ms ease 0s;">
              <article class="portfolio_int">
                <a class="portfolio_icon" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <h3 class="portfolio_title">Shopping Bag Design</h3>
              </article>
            </div>
          </article>
        </li>
        <li class="column column-block element-item  freebies graphic projects  " data-category="freebies" style="position: absolute; left: 430px; top: 379.117px;">
          <article class="portfolio-grid-items-content">
            <img src="http://placehold.it/700x530" alt="Appel Creative Mind">
            <div class="portfolio_disc">
              <article class="portfolio_int">
                <a class="portfolio_icon" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <h3 class="portfolio_title">Appel Creative Mind</h3>
              </article>
            </div>
          </article>
        </li>
        <li class="column column-block element-item  graphic mock-ups photos  " data-category="graphic" style="position: absolute; left: 860px; top: 666.817px;">
          <article class="portfolio-grid-items-content">
            <img src="http://placehold.it/700x469" alt="Creative Awesome Work">
            <div class="portfolio_disc" style="display: block; left: 0px; top: -100%; transition: all 300ms ease 0s;">
              <article class="portfolio_int">
                <a class="portfolio_icon" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <h3 class="portfolio_title">Creative Awesome Work</h3>
              </article>
            </div>
          </article>
        </li>
        <li class="column column-block element-item  freebies mock-ups photos  " data-category="freebies" style="position: absolute; left: 430px; top: 711.95px;">
          <article class="portfolio-grid-items-content">
            <img src="http://placehold.it/700x563" alt="Creative Art Work Project">
            <div class="portfolio_disc">
              <article class="portfolio_int">
                <a class="portfolio_icon" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <h3 class="portfolio_title">Creative Art Work Project</h3>
              </article>
            </div>
          </article>
        </li>
        <li class="column column-block element-item  graphic photos projects  " data-category="graphic" style="position: absolute; left: 0px; top: 727.383px;">
          <article class="portfolio-grid-items-content">
            <img src="http://placehold.it/1200x500" alt="Multimedia videography">
            <div class="portfolio_disc">
              <article class="portfolio_int">
                <a class="portfolio_icon" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                <a class="portfolio_icon" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                <h3 class="portfolio_title">Multimedia videography</h3>
              </article>
            </div>
          </article>
        </li>
      </ul>

    </div>
  </div>
</section>
<section>
  <div class="row">

    <div class="large-12 small-12 columns">
      <div class="wd_empty_space" data-heightmobile="40" data-heighttablet="40" data-heightdesktop="200"
           style="height: 200px;">
      </div>
      <div class="small-up-1 medium-up-2 large-up-3">
        <div   class=" column column-block  small-shadow text-icon text-icon--icon-left_position boxes  clearfix"
               style="overflow: hidden;width: 407px; margin-right: 17px;">
          <div class="text-icon__container   ">
            <div class="text-icon__icon-box">
              <img src="images/safe-2291_ffa36413-4b0a-4d71-b890-8c672e1bac8c-1.png"
                   alt="icon">
            </div>
            <div class="text-icon__content-box">
              <h4 class="text-icon__title">
                Safe and Secured </h4>
              <p class="text-icon__text">We offer 24/7 support, in-house field engineers, and our own
                truck rolls for event.</p>
            </div>
          </div>
        </div>

        <div class="column column-block small-shadow text-icon text-icon--icon-left_position boxes  clearfix"
             style="overflow: hidden;width: 407px; margin-right: 36px;">
          <div class="text-icon__container   ">
            <div class="text-icon__icon-box">
              <img src="images/loading-1763_6c752d74-c1e5-4889-a164-21d1eaadbcc2.png"
                   alt="icon">
            </div>
            <div class="text-icon__content-box">
              <h4 class="text-icon__title">
                99.9% Uptime Guarantee </h4>
              <p class="text-icon__text">With 15+ years in the telecom inductry we have the experience you
                can depend on.</p>
            </div>
          </div>
        </div>

        <div class="column column-block small-shadow text-icon text-icon--icon-left_position boxes  clearfix"
             style="overflow: hidden;width: 407px; margin-right: 17px;">
          <div class="text-icon__container   ">
            <div class="text-icon__icon-box">
              <img src="images/svg9.svg"
                   alt="icon">
            </div>
            <div class="text-icon__content-box">
              <h4 class="text-icon__title">
                Dedicated Support </h4>
              <p class="text-icon__text">We have a platform that accommodates small, medium and
                entreprises needs.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="wd_empty_space" data-heightmobile="40" data-heighttablet="40" data-heightdesktop="75" style="height: 75px;">

      </div>
    </div>
  </div>
</section>
<div class="clearfex"></div>
<section class="first-footer" style="color: #fff;"><h3 class="hide">Footer</h3>
  <div class="row">
    <section class="block">
      <div class="large-3 medium-6 columns">
        <div id="text-3" class=" widget_text ">
          <div class="textwidget"><p><img style="margin-bottom: 30px;"
                                          src="images/Group-199.png"
                                          alt="Osterisk"></p>
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day,
              going forward, a new normal that has evolved from generation.</p></div>
        </div>
      </div>
      <div class="large-3 medium-6 columns">
        <div id="text-4" class=" widget_text "><h4 class="block-title">Business Hours</h4>
          <div class="textwidget"><h6>Opining Days :</h6>
            <div>Monday – Friday : 9am to 20 pm</div>
            <div style="margin-bottom: 20px;">Saturday : 9am to 17 pm</div>
            <h6>Vacations :</h6>
            <div>All Sunday Days</div>
            <div>All Official Holidays</div>
          </div>
        </div>
      </div>
      <div class="large-3 medium-6 columns">
        <div id="text-5" class=" widget_text "><h4 class="block-title">Practice Areas</h4>
          <div class="textwidget">
            <div class="menu-left-menu-container">
              <ul id="menu-left-menu" class="menu">
                <li id="menu-item-2515" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2515">
                  <a href="#">Services</a></li>
                <li id="menu-item-2516" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2516">
                  <a href="#">Strategic Planning</a></li>
                <li id="menu-item-2517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2517">
                  <a href="#">Audit &amp; Assurance</a></li>
                <li id="menu-item-2518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2518">
                  <a href="#">Business Services</a></li>
                <li id="menu-item-2519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2519">
                  <a href="#">Sales &amp; Trading</a></li>
                <li id="menu-item-2520" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2520">
                  <a href="#">Investment Banking</a></li>
                <li id="menu-item-2521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2521">
                  <a href="#">Chemical Industry</a></li>
                <li id="menu-item-2522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2522">
                  <a href="#">Investment Management</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="large-3 medium-6 columns">
        <div id="text-7" class=" widget_text "><h4 class="block-title">Instagram</h4>
          <div class="textwidget"><p><img class="alignleft wp-image-3011 size-full"
                                          src="http://placehold.it/531x173">
          </p></div>
        </div>
      </div>
    </section>
  </div>
</section>

<footer class="second-footer">
  <div class="row">
    <div class="copyright medium-3 large-3 columns"> 2018 Osterisk All rights reserved.</div>
    <div class="powered medium-6 large-6 columns">
      <section class="block">
        <div class="menu-menu-container">
          <ul id="menu-menu" class="menu">
            <li class=" menu-item menu-item-type-post_type menu-item-object-page color-9 "><a
              href="#">Checkout</a></li>
            <li class=" menu-item menu-item-type-post_type menu-item-object-page color-10 "><a
              href="#">Cart</a></li>
            <li class=" menu-item menu-item-type-post_type menu-item-object-page color-11 "><a
              href="#">Shop</a></li>
            <li class=" menu-item menu-item-type-post_type menu-item-object-page color-12 "><a
              href="#">Columns</a></li>
          </ul>
        </div>
      </section>
    </div>
    <div class="footer-social-media medium-3 large-3 columns">
      <ul class="footer-social-media">
        <li class=""><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class=""><a href="#"><i class="fab fa-flickr"></i></a></li>
        <li class=""><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li class=""><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>

<script src="js/jquery.js"></script>
<script src="js/hoverIntent.min.js"></script>
<script src="js/wd-script.min.js"></script>

</body>
</html>